main {
  width: fit-content;
}
.row-main {
  display: flex;
  height: 100%;
  align-items: center;
}
.portfolio-link {
  color: #a9a9a9;
  text-decoration: none;
}
.portfolio-link:hover {
  color: #fff;
}

.container-projects {
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
